name: 'PR source branch validation Check'

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
    branches:
      - main

jobs:
  verify_branch:
    runs-on: ubuntu-latest
    steps:
      - name: Vr
        if: github.base_ref == 'main' && github.head_ref != 'release'
        run: |
          echo "ERROR: You can only merge to master from release."
          exit 1
